.menu {
  display: flex;
  justify-content: flex-start;
  gap: 25px;
  padding: 17px 17px;
  font-weight: 100;
}

.cartContainer {
  display: flex;
  padding: 17px 17px;
}

.cart {
  margin-left: 40px;
  font-weight: 100;
}

.En {
  margin-left: 20px;
  font-weight: 100;
}

.title {
  font-weight: 500;
  margin-top: 15px;
  font-style: inherit;
}

.headerContainer {
  display: flex;
  gap: 470px;
  margin-left: 10px;
}
